<% existing = f.object.send("cached_#{key}_data").present? || f.object.send("#{key}_data").present? %>
<% errors = f.object.errors[key].present? %>

<div
  data-controller="single-upload"
  data-single-upload-input-name-value="<%= key %>"
  data-single-upload-presign-endpoint-value="<%= presign_endpoint %>"
  data-single-upload-permitted-file-types-value="<%= permitted_file_types.collect { |type| '.' + type } %>"
  data-single-upload-button-hint-value="<%= local_assigns[:button_hint] %>"
  data-single-upload-button-icon-value="<%= local_assigns[:button_icon] %>"
  data-single-upload-max-file-size-value="<%= local_assigns[:max_file_size] %>"
  class="form__input <%= local_assigns[:classes] %> <%= 'disabled' if local_assigns[:disabled] %> <%= 'field--errors' if errors %>">

  <%= f.label key, label, required: local_assigns[:required] %>
  <%= f.hidden_field key, value: f.object.send("cached_#{key}_data"), data: { single_upload_target: 'formInput' } %>

  <div data-single-upload-target="previewContainer" class="h--100pc max-h--6em mb--2 <%= 'display--none' if !existing %>">
    <div class="display--flex align-items--center h--5em">
      <% if local_assigns[:field_image_url].present? %>
        <div data-single-upload-target="preview" class="existing-file__preview max-h--5em" style="background-image: url(<%= field_image_url %>);"></div>
      <% else %>
        <div data-single-upload-target="preview" class="existing-file__preview max-h--5em">
          <div class="existing-file-preview__icon"><%= upload_icon(f.object.send(key)&.send(:mime_type)) %></div>
        </div>
      <% end %>

      <div class="existing-file__details">
        <div data-single-upload-target="fileName" class="-font--size-1"><%= f.object.send(key)&.original_filename || 'Unknown' %></div>

        <div>
          <span data-action="click->single-upload#replaceFile" class="existing-file__toggle">Replace</span>
          <% if local_assigns[:downloadable] && f.object.file.present? %>
            <span class="existing-file__divider">|</span>
            <span><%= link_to 'Download', f.object.file_download_url, class: 'existing-file__download' %></span>
          <% end %>
        </div>
      </div>
    </div>

    <span data-single-upload-target="successHint" class="form__hint -text-size--1 mt--4 display--none"><%= label %> successfully uploaded</span>

    <%= f.error key %>
  </div>

  <div data-single-upload-target="inputContainer" class="existing-file__new <%= 'display--none' unless !existing %>">
    <div data-single-upload-target="uppyInput">
      <%= f.input_field key, as: :file, disabled: local_assigns[:disabled] %>
    </div>

    <div data-single-upload-target="progressContainer" class="mb--2 display--none">
      <div data-single-upload-target="fileName" class="-font--size-1 mt--2"><%= f.object.send(key)&.original_filename || 'Unknown' %></div>
      <div class="progress mt--2"><div data-single-upload-target="progressBar" class="progress-bar" style="width: 0;"></div></div>
    </div>

    <div data-single-upload-target="errorContainer" class="<%= 'display--none' unless errors %>">
      <%= f.error key %>
      <div data-single-upload-target="errorInformer" class="uppy-Informer-errors"></div>
    </div>

    <%= f.hint hint, class: 'form__hint' if local_assigns[:hint] %>
  </div>
</div>
