<% provide(:title, 'Log in') %>

<div class="onboarding__modal">
  <div class="onboarding__image"></div>

  <div class="onboarding__body">
    <%= image_tag 'logos/logo_full', class: 'w--10em' %>

    <h3 class="mt--4 mb--0">Log in to your account <span class="emoji emoji-lock-and-key"></span></h3>
    <p class="-font-size--1 font--light line-height--tight">Enter your email address and password below to sign in</p>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'py--4' }) do |f| %>
      <div class="form__inputs">
        <%= f.input :email, label: 'Email Address', required: true, autofocus: true, wrapper_html: { class: 'form__input--s2-m4-l12' }, input_html: { autocomplete: :email } %>

        <%= f.input :password, required: true, wrapper_html: { class: 'form__input--s2-m4-l12' }, input_html: { autocomplete: 'current-password' } %>

        <%= f.input :remember_me, as: :boolean, boolean_style: :inline, wrapper_html: { class: 'form__input--s2-m4-l6' } %>

        <div class="form__input form__input--s2-m4-l6 onboarding__forgot-password">
          <%= link_to 'Forgot your password?', new_password_path(resource_name), class: '-font-size--1 link link--primary' %>
        </div>
      </div>

      <div class="form__actions">
        <%= f.button :submit, 'Log In', class: 'button--wide button--primary' %>
      </div>
    <% end %>

    <div class="position--relative">
      <div class="my--6 w--100pc h--1px bg--base"></div>
      <div class="position--absolute top--50pc left--50pc transform -translate-x--50pc -translate-y--50pc px--6 font--bold bg--lightest">Or</div>
    </div>

    <%= link_to 'Sign Up', '#', class: 'mt--4 button button--stroke button--grey button--wide p--5' %>
  </div>
</div>
