<div class="form-sidebar form-sidebar--connected">
  <a href="#" class="form-sidebar__section form-sidebar__section--link">
    <div>
      <h4 class="page-sidebar__title">Your Information Pt. 1</h4>
      <p class="link link--base hidden--lg-down">Contains variations of our most basic inputs.</p>
    </div>
  </a>

  <a href="#" class="form-sidebar__section form-sidebar__section--link form-sidebar__section--active">
    <div>
      <h4 class="page-sidebar__title">Your Information Pt. 2</h4>
      <p class="link link--base hidden--lg-down">Regular, required, errored, and disabled variations of string, select, checkbox, toggle, and radio option inputs.</p>
    </div>
  </a>

  <a href="#" class="form-sidebar__section form-sidebar__section--link form-sidebar__section--disabled">
    <div>
      <h4 class="page-sidebar__title">Your Information Pt. 3</h4>
      <p class="link link--base hidden--lg-down">You can't access this yet.</p>
    </div>
  </a>
</div>

<form action="#" class="form-main">
  <div class="form-main__section">
    <div class="form__header">
      <div class="form__heading">
        <div class="display--flex align-items--center gap--6">
          <h3 class="form-heading__title">Your Information Pt. 2</h3>
        </div>

        <div class="color--light">Step 2 of 5</div>
      </div>

      <div class="form__subheading">Contains variations of our most basic inputs. Regular, required, errored, and disabled variations of string, select, checkbox, toggle, and radio option inputs.</div>
    </div>

    <div class="form__body">
      <h5 class="form__section-title">Rectangles</h5>

      <div class="form__inputs">
        <%= render partial: 'templates/base/partials/inputs/string', locals: { wrapper_classes:'form__input--s2-m2-l3', id: 'string', label: 'String', hint: 'type something' } %>
        <%= render partial: 'templates/base/partials/inputs/string', locals: { wrapper_classes:'form__input--s2-m2-l3', id: 'string_error', label: 'String Errored', required: true, errors: "can't be blank" } %>
        <%= render partial: 'templates/base/partials/inputs/string', locals: { wrapper_classes:'form__input--s2-m2-l3', id: 'string_disabled', label: 'String Disabled', disabled: true } %>

        <%= render partial: 'templates/base/partials/inputs/select', locals: { wrapper_classes:'form__input--s2-m2-l3 form__input--new-line', id: 'selection', label: 'Select', hint: 'select something', options: [['value1', 'Label 1'], ['value2', 'Label 2']] } %>
        <%= render partial: 'templates/base/partials/inputs/select', locals: { wrapper_classes:'form__input--s2-m2-l3', id: 'selection_error', label: 'Select Errored', options: [['value1', 'Label 1'], ['value2', 'Label 2']], required: true, errors: "can't be blank" } %>
        <%= render partial: 'templates/base/partials/inputs/select', locals: { wrapper_classes:'form__input--s2-m2-l3', id: 'selection_disabled', label: 'Select Disabled', options: [['value1', 'Label 1'], ['value2', 'Label 2']], disabled: true } %>

        <%= render partial: 'templates/base/partials/inputs/select', locals: { wrapper_classes:'form__input--s2-m2-l3 form__input--new-line', select_classes: 'input-field--symbol far fa-pound-sign', id: 'selection_symbol', label: 'Select Symbol', hint: 'select something', options: [['value1', 'Label 1'], ['value2', 'Label 2']] } %>
        <%= render partial: 'templates/base/partials/inputs/select', locals: { wrapper_classes:'form__input--s2-m2-l3', select_classes: 'input-field--symbol far fa-pound-sign', id: 'selection_symbol_error', label: 'Select Symbol Errored', options: [['value1', 'Label 1'], ['value2', 'Label 2']], required: true, errors: "can't be blank" } %>
        <%= render partial: 'templates/base/partials/inputs/select', locals: { wrapper_classes:'form__input--s2-m2-l3', select_classes: 'input-field--symbol far fa-pound-sign', id: 'selection_symbol_disabled', label: 'Select Symbol Disabled', options: [['value1', 'Label 1'], ['value2', 'Label 2']], disabled: true } %>
      </div>

      <hr class="form__divider">

      <h5 class="form__section-title">Booleans</h5>

      <div class="form__inputs">
        <%= render partial: 'templates/base/partials/inputs/checkbox', locals: { wrapper_classes:'form__input--s2-m2-l3', id: 'checkbox', label: 'Checkbox', hint: 'check something' } %>
        <%= render partial: 'templates/base/partials/inputs/checkbox', locals: { wrapper_classes:'form__input--s2-m2-l3', id: 'checkbox_error', label: 'Checkbox Errored', required: true, errors: "can't be blank" } %>
        <%= render partial: 'templates/base/partials/inputs/checkbox', locals: { wrapper_classes:'form__input--s2-m2-l3', id: 'checkbox_disabled', label: 'Checkbox Disabled', disabled: true } %>
        <%= render partial: 'templates/base/partials/inputs/checkbox', locals: { wrapper_classes:'form__input--s2-m2-l3', id: 'checkbox_disabled', label: 'Checkbox C&D', checked: true, disabled: true } %>

        <%= render partial: 'templates/base/partials/inputs/checkbox',
                  locals: {
                    wrapper_classes:'form__input--new-line form__input--s2-m2-l3',
                    label_classes: 'required--inline',
                    id: 'checkbox_link_required',
                    required: true,
                    label: "<span class='mr--2'>Very long checkbox showing that the asterisk is pushed to new line nicely <a href='#'>link</a></span>".html_safe,
                    hint: 'must check something'
                  } %>

        <%= render partial: 'templates/base/partials/inputs/toggle', locals: { wrapper_classes:'form__input--s2-m2-l3 form__input--new-line', id: 'toggle', label: 'Toggle', hint: 'toggle something' } %>
        <%= render partial: 'templates/base/partials/inputs/toggle', locals: { wrapper_classes:'form__input--s2-m2-l3', id: 'toggle_error', label: 'Toggle Errored', required: true, errors: "can't be blank" } %>
        <%= render partial: 'templates/base/partials/inputs/toggle', locals: { wrapper_classes:'form__input--s2-m2-l3', id: 'toggle_disabled', label: 'Toggle Disabled', disabled: true } %>
        <%= render partial: 'templates/base/partials/inputs/toggle', locals: { wrapper_classes:'form__input--s2-m2-l3', id: 'toggle_disabled', label: 'Toggle C&D', checked: true, disabled: true } %>

        <%= render partial: 'templates/base/partials/inputs/toggle', locals: { wrapper_classes:'form__input--s2-m2-l3 form__input--new-line', id: 'toggle', hint: 'toggle without label' } %>
      </div>

      <hr class="form__divider">

      <h5 class="form__section-title">Radios</h5>

      <div class="form__inputs">
        <%= render partial: 'templates/base/partials/inputs/radio', locals: { wrapper_classes:'form__input--s2-m4-l4', id: 'radio', label: 'Radio', hint: 'click something', options: [['value1', 'Label 1'], ['value2', 'Label 2'], ['value3', 'Label 3']] } %>
        <%= render partial: 'templates/base/partials/inputs/radio', locals: { wrapper_classes:'form__input--s2-m4-l4', id: 'radio_error', label: 'Radio Errored', options: [['value1', 'Label 1'], ['value2', 'Label 2'], ['value3', 'Label 3']], required: true, errors: "can't be blank" } %>
        <%= render partial: 'templates/base/partials/inputs/radio', locals: { wrapper_classes:'form__input--s2-m4-l4', id: 'radio_disabled', label: 'Radio Disabled', options: [['value1', 'Label 1'], ['value2', 'Label 2'], ['value3', 'Label 3']], disabled: true } %>

        <%= render partial: 'templates/base/partials/inputs/radio_toggle', locals: { wrapper_classes:'form__input--s2-m4-l4 form__input--new-line', id: 'radio_toggle', label: 'Radio Toggle', hint: 'pick something', options: [['value1', 'Label 1'], ['value2', 'Label 2'], ['value3', 'Label 3']] } %>
        <%= render partial: 'templates/base/partials/inputs/radio_toggle', locals: { wrapper_classes:'form__input--s2-m4-l4', id: 'radio_toggle_error', label: 'Radio Toggle Errored', options: [['value1', 'Label 1'], ['value2', 'Label 2'], ['value3', 'Label 3']], required: true, errors: "can't be blank" } %>
        <%= render partial: 'templates/base/partials/inputs/radio_toggle', locals: { wrapper_classes:'form__input--s2-m4-l4', id: 'radio_toggle_disabled', label: 'Radio Toggle Disabled', options: [['value1', 'Label 1'], ['value2', 'Label 2'], ['value3', 'Label 3']], disabled: true } %>
      </div>
    </div>
  </div>
</form>
