<div class="form-sidebar">
  <div class="form-sidebar__section">
    <h4 class="page-sidebar__title">4. Select2s</h4>
    <p>Contains single and multi select2s.</p>
  </div>
</div>

<form action="#" class="form-main">
  <div class="form-main__section">
    <div class="form__header">
      <h3 class="form-heading__title">4. Select2s</h3>
      <div class="form__subheading">Contains single and multi select2s.</div>
    </div>

    <div class="form__body">
      <div class="form__inputs" data-controller="select2">
        <%= render partial: 'templates/base/partials/inputs/select2_single', locals: { wrapper_classes:'form__input--s2-m2-l4', id: 'select2s', label: 'Select2Single', hint: 'select2 something', options: [['value1', 'Label 1'], ['value2', 'Label 2']] } %>
        <%= render partial: 'templates/base/partials/inputs/select2_single', locals: { wrapper_classes:'form__input--s2-m2-l4', id: 'select2s_error', label: 'Select2Single Errored', options: [['value1', 'Label 1'], ['value2', 'Label 2']], required: true, errors: "can't be blank" } %>
        <%= render partial: 'templates/base/partials/inputs/select2_single', locals: { wrapper_classes:'form__input--s2-m2-l4', id: 'select2s_disabled', label: 'Select2Single Disabled', options: [['value1', 'Label 1'], ['value2', 'Label 2']], disabled: true } %>

        <%= render partial: 'templates/base/partials/inputs/select2_multi', locals: { wrapper_classes:'form__input--s2-m2-l4', id: 'select2m', label: 'Select2Multi', hint: 'select2 somethings', options: [['value1', 'Label 1'], ['value2', 'Label 2']] } %>
        <%= render partial: 'templates/base/partials/inputs/select2_multi', locals: { wrapper_classes:'form__input--s2-m2-l4', id: 'select2m_error', label: 'Select2Multi Errored', options: [['value1', 'Label 1'], ['value2', 'Label 2']], required: true, errors: "can't be blank" } %>
        <%= render partial: 'templates/base/partials/inputs/select2_multi', locals: { wrapper_classes:'form__input--s2-m2-l4', id: 'select2m_disabled', label: 'Select2Multi Disabled', options: [['value1', 'Label 1'], ['value2', 'Label 2']], disabled: true } %>
      </div>
    </div>
  </div>
</form>
