<div class="form-sidebar">
  <div class="form-sidebar__section">
    <h4 class="page-sidebar__title">7. Stimulus Show Hide</h4>
    <p>Examples of the various stimulus show hide actions we have.</p>
  </div>
</div>

<form action="#" class="form-main">
  <div class="form-main__section">
    <div class="form__header">
      <h3 class="form-heading__title">7. Stimulus Show Hide</h3>
      <div class="form__subheading">Examples of the various stimulus show hide actions we have.</div>
    </div>

    <div class="form__body">
      <div class="form__inputs" data-controller="show-hide">
        <button class="form__input form__input--s2-m2-l4" data-show-hide-target="toggle" data-action="click->show-hide#replaceObject:prevent" data-parent-id="replace_a">Replace Object</button>

        <div data-show-hide-target="replaceable" class="display--none form__input form__input--s2-m2-l4" data-child-id="replace_a">
          <%= render partial: 'templates/base/partials/inputs/string', locals: { wrapper_classes:'', id: 'replaceable', label: 'Replaceable' } %>
        </div>

        <div class="form__input form__input--s2-m2-l4 form__input--new-line">
          <button data-show-hide-target="toggle" data-action="click->show-hide#toggleObjects:prevent" data-parent-id="toggle_a">Toggle Object</button>
        </div>

        <div data-show-hide-target="toggleable" class="display--none form__input form__input--s2-m2-l4" data-child-id="toggle_a">
          <%= render partial: 'templates/base/partials/inputs/string', locals: { wrapper_classes:'', id: 'toggleable', label: 'Toggleable' } %>
        </div>

        <% id = 'showhide_boolean' %>
        <div class="boolean form__input form__input--s2-m2-l4 form__input--new-line">
          <div class="control control--toggle control--inline">
            <input name="<%= id %>" type="hidden" value="0">
            <input class="boolean" type="checkbox" value="1" name="<%= id %>" id="<%= id %>" data-show-hide-target="boolean" data-action="change->show-hide#toggleByBoolean" data-parent-id="boolean_a">
            <label class="boolean" for="<%= id %>">Toogle By Boolean</label>
          </div>
        </div>

        <div data-show-hide-target="booleanable" class="display--none form__input form__input--s2-m2-l4" data-child-id="boolean_a">
          <%= render partial: 'templates/base/partials/inputs/string', locals: { wrapper_classes:'', id: 'booleanable', label: 'Booleanable' } %>
        </div>

        <% id = 'showhide_radio' %>
        <% options = [['value1', 'label 1'], ['value2', 'label 2']] %>
        <div class="enum_radio_buttons slider_radios form__input form__input--s2-m2-l4 form__input--new-line">
          <label class="string enum_radio_buttons">Toggle By Radio</label>

          <div class="input-field" data-show-hide-target="radio">
            <input type="hidden" name="<%= id %>" autocomplete="off">
            <% options.each do |option_value, option_label| %>
              <span class="radio" data-action="click->show-hide#toggleByRadio">
                <input class="string enum_radio_buttons" type="radio" value="<%= option_value %>" name="<%= id %>" id="<%= id %>_<%= option_value %>">
                <label class="collection_radio_buttons" for="<%= id %>_<%= option_value %>"><%= option_label %></label>
              </span>
            <% end %>
          </div>
        </div>

        <div data-show-hide-target="radioable" data-options="value1" class="display--none form__input form__input--s2-m2-l4">
          <%= render partial: 'templates/base/partials/inputs/string', locals: { wrapper_classes:'', id: 'radioable_1', label: 'Radioable 1' } %>
        </div>

        <div data-show-hide-target="radioable" data-options="value2" class="display--none form__input form__input--s2-m2-l4">
          <%= render partial: 'templates/base/partials/inputs/string', locals: { wrapper_classes:'', id: 'radioable_2', label: 'Radioable 2' } %>
        </div>

        <% id = 'showhide_options' %>
        <% options = [['value1', 'label 1'], ['value2', 'label 2']] %>
        <div class="select form__input form__input--s2-m2-l4 form__input--new-line">
          <label class="select" for="<%= id %>">Toggle By Options</label>
          <div class="input-field input-field--select">
            <select class="select" data-show-hide-target="option" data-action="change->show-hide#toggleByOption">
              <% options.each do |option_value, option_label| %>
                <option value="<%= option_value %>"><%= option_label %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div data-show-hide-target="optionable" data-options="value1" class="display--none form__input form__input--s2-m2-l4">
          <%= render partial: 'templates/base/partials/inputs/string', locals: { wrapper_classes:'', id: 'optionable_1', label: 'Optionable 1' } %>
        </div>

        <div data-show-hide-target="optionable" data-options="value2" class="display--none form__input form__input--s2-m2-l4">
          <%= render partial: 'templates/base/partials/inputs/string', locals: { wrapper_classes:'', id: 'optionable_2', label: 'Optionable 2' } %>
        </div>

        <button class="form__input form__input--s2-m2-l4 form__input--new-line" data-action="click->show-hide#toggleWithClass:prevent" data-class="display--none" data-parent-id="class_a">Toggle With Class</button>

        <div data-show-hide-target="classable" data-child-id="class_a" class="display--none form__input form__input--s2-m2-l4">
          <%= render partial: 'templates/base/partials/inputs/string', locals: { wrapper_classes:'', id: 'classable', label: 'Classable' } %>
        </div>

        <button class="form__input form__input--s2-m2-l4 form__input--new-line" data-action="click->show-hide#switchClass:prevent" data-show-hide-target="classable" data-class="button--success" data-switch-id="switch_a">Switch Class</button>
        <button class="form__input form__input--s2-m2-l4" data-action="click->show-hide#switchClass:prevent" data-show-hide-target="classable" data-class="button--success" data-switch-id="switch_a">Switch Class</button>
      </div>
    </div>
  </div>
</form>
