<div class="form-sidebar">
  <div class="form-sidebar__section">
    <h4 class="page-sidebar__title">9. Stimulus Inputs</h4>
    <p>Contains other custom inputs that utilize stimulus.</p>
  </div>
</div>

<div class="form-main">
  <div class="form-main__section">
    <div class="form__header">
      <h3 class="form-heading__title">9. Stimulus Inputs</h3>
      <div class="form__subheading">Contains other custom inputs that utilize stimulus.</div>
    </div>

    <div class="form__body">
      <h5 class="form__section-title">Ranges</h5>

      <div class="form__inputs" data-controller="datepicker">
        <%= render partial: 'templates/base/partials/inputs/slider_range', locals: { wrapper_classes:'form__input--s2-m2-l4', id: 'slider_range', label: 'Slider Range', hint: 'drag something' } %>
        <%= render partial: 'templates/base/partials/inputs/slider_range', locals: { wrapper_classes:'form__input--s2-m2-l4', id: 'slider_range_error', label: 'Slider Range Errored', required: true, errors: "can't be too wide", from_value: 5, to_value: 95, max: 225, step: 5 } %>
        <%= render partial: 'templates/base/partials/inputs/slider_range', locals: { wrapper_classes:'form__input--s2-m2-l4', id: 'slider_range_error', label: 'Slider Range Disabled', disabled: true, to_value: 20 } %>

        <%= render partial: 'templates/base/partials/inputs/slider_range', locals: { wrapper_classes:'form__input--s2-m2-l4', id: 'slider_range_a', label: 'Slider Range', prefix: '$' } %>
        <%= render partial: 'templates/base/partials/inputs/slider_range', locals: { wrapper_classes:'form__input--s2-m2-l4', id: 'slider_range_b', label: 'Slider Range', suffix: 'night', pluralize: true, from_value: 5, to_value: 75 } %>
        <%= render partial: 'templates/base/partials/inputs/slider_range', locals: { wrapper_classes:'form__input--s2-m2-l4', id: 'slider_range_c', label: 'Slider Range', prefix: '(', suffix: ')' } %>
      </div>
    </div>
  </div>
</div>
