<div class="form-sidebar">
  <div class="form-sidebar__section">
    <h4 class="page-sidebar__title">5. Uploaders</h4>
    <p>Contains file uploaders.</p>
  </div>
</div>

<form action="#" class="form-main">
  <div class="form-main__section">
    <div class="form__header">
      <h3 class="form-heading__title">5. Uploaders</h3>
      <div class="form__subheading">Contains file uploaders.</div>
    </div>

    <div class="form__body">
      <h5 class="form__section-title">Upload</h5>

      <div class="form__inputs">
        <%= render partial: 'templates/base/partials/inputs/single_uploader', locals: { classes: 'form__input--s2-m4-l4', id: 'single_uploader', label: 'File Uploader', button_hint: 'please', hint: 'upload something' } %>
        <%= render partial: 'templates/base/partials/inputs/single_uploader', locals: { classes: 'form__input--s2-m4-l4', id: 'single_uploader_error', label: 'File Uploader Errored', required: true, errors: "can't be blank" } %>
        <%= render partial: 'templates/base/partials/inputs/single_uploader', locals: { classes: 'form__input--s2-m4-l4', id: 'single_uploader_disabled', label: 'File Uploader Disabled', disabled: true } %>
      </div>

      <hr class="form__divider">

      <h5 class="form__section-title">Uploading</h5>

      <div class="form__inputs">
        <%= render partial: 'templates/base/partials/inputs/single_uploader', locals: { classes: 'form__input--s2-m4-l4', id: 'single_uploading', label: 'File Uploading', hint: 'uploading something', uploading: true } %>
        <%= render partial: 'templates/base/partials/inputs/single_uploader', locals: { classes: 'form__input--s2-m4-l4', id: 'single_uploading_error', label: 'File Uploading Errored', uploading: true, required: true, errors: "can't be blank" } %>
        <%= render partial: 'templates/base/partials/inputs/single_uploader', locals: { classes: 'form__input--s2-m4-l4', id: 'single_uploading_disabled', label: 'File Uploading Disabled', uploading: true, disabled: true } %>
      </div>

      <hr class="form__divider">

      <h5 class="form__section-title">Uploaded</h5>

      <div class="form__inputs">
        <%= render partial: 'templates/base/partials/inputs/single_uploader', locals: { classes: 'form__input--s2-m4-l4', id: 'single_uploaded', label: 'File Uploaded', hint: 'uploaded something', existing: true } %>
        <%= render partial: 'templates/base/partials/inputs/single_uploader', locals: { classes: 'form__input--s2-m4-l4', id: 'single_uploaded_error', label: 'File Uploaded Errored', existing: true, required: true, errors: "can't be blank" } %>
        <%= render partial: 'templates/base/partials/inputs/single_uploader', locals: { classes: 'form__input--s2-m4-l4', id: 'single_uploaded_disabled', label: 'File Uploaded Disabled', existing: true, disabled: true, file: 'doc.pdf' } %>
      </div>
    </div>
  </div>
</form>
