<% provide(:title, 'User Management') %>

<div class="page__header">
  <div class="page__heading page__heading--actions">
    <div class="heading__main">
      <h2 class="heading__title">User Management</h2>
    </div>
  </div>
</div>

<div class="page-container mt--7">
  <%= render partial: 'admin/accounts/partials/index/search_and_filter' %>

  <table>
    <thead>
      <tr>
        <th>
          <%= sort_link(@q, :full_name, 'Name') %>
          <div class="cell--stacked">Email</div>
        </th>

        <th>Type</th>

        <th class="hidden--md-down">
          <%= sort_link(@q, :updated_at, 'Updated At', default_order: :desc) %>
        </th>

        <th class="text--center w--7em">Action</th>
      </tr>
    </thead>

    <tbody>
      <% if @accounts.present? %>
        <%= render partial: 'admin/accounts/partials/index/row', collection: @accounts, as: :account %>
      <% else %>
        <%= render partial: 'partials/no_results', locals: {
          breakpoints: [{ colspan: 3, class: 'hidden--md-up' }, { colspan: 4, class: 'hidden--md-down' }],
          message: 'No Account found. Try modifying your search.'
        } %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="mt--8">
  <%== @pagy.series_nav %>
</div>
