<% provide(:title, 'Templates Colours') %>

<div class="page-container mt--10">
  <table>
    <thead>
      <tr>
        <th class="w--10em"></th>
        <th class="w--4em text--center">Base</th>
        <th class="w--4em text--center">50</th>
        <% 9.times.each_with_index do |i| %>
          <th class="w--4em text--center"><%= i + 1 %>00</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% ['primary-brand', 'secondary-brand', 'tertiary-brand', 'brand-background', 'red', 'orange', 'yellow', 'green', 'blue', 'purple', 'grey'].each do |colour| %>
        <tr>
          <td><%= colour %></td>
          <td class="bg--<%= colour %>"></td>
          <td class="bg--<%= colour %>-50"></td>
          <% 9.times.each_with_index do |i| %>
            <td class="bg--<%= colour %>-<%= i + 1 %>00"></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="page-container mt--10">
  <table>
    <thead>
      <tr>
        <th class="w--10em"></th>
        <th class="w--4em text--center">Base</th>
        <% ['Lightest', 'Lighter', 'Light', 'Base', 'Dark', 'Darker', 'Darkest'].each do |variant| %>
          <th class="w--4em text--center"><%= variant %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% ['primary-brand', 'secondary-brand', 'tertiary-brand', 'success', 'information', 'warning', 'danger'].each do |colour| %>
        <tr>
          <td><%= colour %></td>
          <td class="bg--<%= colour %>"></td>
          <% ['-lightest', '-lighter', '-light', '', '-dark', '-darker', '-darkest'].each do |variant| %>
            <td class="bg--<%= colour %><%= variant %>"></td>
          <% end %>
        </tr>
      <% end %>
      <tr>
          <td>Background</td>
          <td class="bg--base"></td>
          <% ['lightest', 'lighter', 'light', 'base', 'dark', 'darker', 'darkest'].each do |variant| %>
            <td class="bg--<%= variant %>"></td>
          <% end %>
        </tr>
    </tbody>
  </table>
</div>

<div class="page-container mt--10">
  <table>
    <thead>
      <tr>
        <th class="w--10em">Link Readbility</th>
        <% ['Lightest', 'Lighter', 'Light', 'Base', 'Dark', 'Darker', 'Darkest'].each do |variant| %>
          <th class="text--center"><%= variant %> BG</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% ['success', 'warning', 'info', 'danger', 'primary', 'base', 'light', 'lightest'].each do |colour| %>
        <tr>
          <td><%= colour %></td>
          <% ['lightest', 'lighter', 'light', 'base', 'dark', 'darker', 'darkest'].each do |variant| %>
            <td class="bg--<%= variant %> cell--link">
              <a href="#" class="link--<%= colour %> link--cell">Link Text</a>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
