<% provide(:title, 'Templates Components') %>

<div class="bg--danger-dark color--red-50 p--4">
  <div class="page-container display--flex justify-content--center align-items--center">
    <div class="mr--6">Logged in as alice.doe@example.com</div>

    <a href="#" class="button button--white button--danger">Log out</a>
  </div>
</div>

<div class="page-container mt--10">
  <% ['primary-brand', 'secondary-brand', 'red', 'orange', 'yellow', 'green', 'blue', 'purple', 'grey', 'light', 'success', 'warning', 'danger', 'info'].each do |colour| %>
    <div class="callout callout--<%= colour %> mb--6">
      <div class="callout__icon"><i class="fa-regular fa-lg fa-question-circle"></i></div>
      <div class="callout__text">This is a <%= colour %> callout.</div>
    </div>
  <% end %>

  <div>
    <div class="pill">pill</div>
    <% ['primary-brand', 'secondary-brand', 'red', 'orange', 'yellow', 'green', 'blue', 'purple', 'grey', 'light'].each do |colour| %>
      <div class="pill pill--<%= colour %>"><%= colour %></div>
    <% end %>

    <div class="clearfix my--4"></div>

    <div class="pill pill--bordered">pill bordered</div>
    <% ['primary-brand', 'secondary-brand', 'red', 'orange', 'yellow', 'green', 'blue', 'purple', 'grey', 'light'].each do |colour| %>
      <div class="pill pill--<%= colour %> pill--bordered"><%= colour %> bordered</div>
    <% end %>

    <div class="clearfix my--4"></div>

    <div class="pill pill--icon"><i class="fa-solid fa-sm fa-pencil"></i></div>
    <% ['primary-brand', 'secondary-brand', 'red', 'orange', 'yellow', 'green', 'blue', 'purple', 'grey', 'light'].each do |colour| %>
      <div class="pill pill--<%= colour %> pill--icon"><i class="fa-solid fa-sm fa-pencil"></i></div>
    <% end %>

    <div class="clearfix my--4"></div>

    <% ['5', '4', '3', '2', '1'].each do |index| %>
      <div class="pill -pill-size--<%= index %> pill--primary-brand">size -<%= index %></div>
    <% end %>
    <% (0..5).each do |index| %>
      <div class="pill pill-size--<%= index %> pill--primary-brand">size <%= index %></div>
    <% end %>

    <div class="clearfix my--4"></div>

    <% ['5', '4', '3', '2', '1'].each do |index| %>
      <div class="pill -pill-size--<%= index %> pill--primary-brand pill--bordered">size -<%= index %> bordered</div>
    <% end %>
    <% (0..5).each do |index| %>
      <div class="pill pill-size--<%= index %> pill--primary-brand pill--bordered">size <%= index %> bordered</div>
    <% end %>

    <div class="clearfix my--4"></div>

    <% ['5', '4', '3', '2', '1'].each do |index| %>
      <div class="pill -pill-size--<%= index %> pill--primary-brand pill--icon"><i class="fa-solid fa-sm fa-pencil"></i></div>
    <% end %>
    <% (0..5).each do |index| %>
      <div class="pill pill-size--<%= index %> pill--primary-brand pill--icon"><i class="fa-solid fa-sm fa-pencil"></i></div>
    <% end %>

    <div class="clearfix my--4"></div>

    <% ['5', '4', '3', '2', '1'].each do |index| %>
      <div class="pill -pill-size--<%= index %> pill--primary-brand pill--bordered pill--icon"><i class="fa-solid fa-sm fa-pencil"></i></div>
    <% end %>
    <% (0..5).each do |index| %>
      <div class="pill pill-size--<%= index %> pill--primary-brand pill--bordered pill--icon"><i class="fa-solid fa-sm fa-pencil"></i></div>
    <% end %>
  </div>
</div>
