<div class="footer print:display--none">
  <div class="footer__left">
    <%= link_to 'Cookies Policy', '#', target: :_blank %>
    <i class="mr--3 fa-solid fa-horizontal-rule fa-rotate-90"></i>
    <%= link_to 'Privacy Policy', '#', target: :_blank %>
    <i class="mr--3 fa-solid fa-horizontal-rule fa-rotate-90"></i>
    <%= link_to 'Terms of Service', '#', target: :_blank %>
    <i class="mr--3 fa-solid fa-horizontal-rule fa-rotate-90"></i>
    <%= link_to 'About BMX4', '#', target: :_blank %>
    <i class="mr--3 fa-solid fa-horizontal-rule fa-rotate-90"></i>
    <%# TODO: Add the correct support email %>
    <%= mail_to 'fabio@bmx4.com.br', 'Contact Support', target: :_blank %>
  </div>

  <div class="footer__right">
    &copy; <%= current_year %> BMX4 Technologies Ltd. All Rights Reserved.
  </div>
</div>
