<header class="header">
  <nav id="site-navigation" class="main-navigation" role="navigation" data-controller="menu" data-action="click@window->menu#closeOutside">
    <%= link_to root_path, class: 'header__site-link' do %>
      <h1 class="header__site-title">Athena</h1>
    <% end %>

    <button class="menu-toggle hamburger hamburger--mobile-only hamburger--spin" type="button" data-action="click->menu#toggleHamburger">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <ul id="primary-menu" class="menu">
      <%= active_link_to 'Users', root_path, active: [['admin/accounts'], []], wrap_tag: :li, wrap_class: 'menu-item', class: 'primary-menu__link', class_active: 'menu-item--active' %>
      <%= active_link_to 'My Profile', edit_registrations_path, active: :exact, wrap_tag: :li, wrap_class: 'menu-item hidden--lg-up', class: 'primary-menu__link', class_active: 'menu-item--active' %>

      <li class="menu-item hidden--lg-up">
        <%= render partial: 'partials/headers/masqueradable_logout', locals: { classes: 'primary-menu__link w--100pc', button_classes: 'button--link' } %>
      </li>
    </ul>

    <ul class="menu user-menu">
      <li class="menu-item menu-item--sub">
        <div class="user__name" data-action="click->menu#toggleSubMenu">
          <%= current_account.name %><i class="menu-item__chevron ml--2 fa-solid fa-chevron-down"></i>
        </div>

        <ul class="menu menu--sub">
          <%= active_link_to 'My Profile', edit_registrations_path, active: :exact, wrap_tag: :li, wrap_class: 'menu-item', class_active: 'menu-item--active' %>

          <li class="menu-item">
            <%= render partial: 'partials/headers/masqueradable_logout', locals: { classes: 'button--link' } %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
