<% id = local_assigns[:id] %>
<div class="nested-fields nested-fields--grouped">
  <div class="nested-fields__field">
    <div class="nested-field__name text--truncate">example_image_<%= id %>.png</div>

    <div class="form__input hidden model_documents_file">
      <div class="input-field">
        <input class="string hidden cached-upload" autocomplete="off" type="hidden" name="model[documents_attributes][<%= id %>][file]" id="model_documents_attributes_<%= id %>_file">
      </div>
    </div>

    <div class="nested-fields__remove">
      <input value="false" type="hidden" name="model[secondary_features_attributes][<%= id %>][_destroy]" id="cocoon_attributes_<%= id %>__destroy">
      <a class="remove_fields dynamic" href="#"><i class="far fa-trash-alt"></i></a>
    </div>
  </div>
</div>

<!--  <div class="nested-fields__remove">
    <input value="false" autocomplete="off" type="hidden" name="model[documents_attributes][<%= id %>][_destroy]" id="model_documents_attributes_<%= id %>__destroy"><a class="remove_fields dynamic" href="#">
    Remove
  </a>
  </div>
</div>

<!-- actual cocoon example
<div class="nested-fields">
  <div class="nested-field__name">
    File name.exe
  </div>

  <%#= f.input :file, as: :hidden, input_html: { class: 'cached-upload' } %>

  <div class="nested-fields__remove">
    <%#= link_to_remove_association f do %>
      <i class="far fa-trash-alt"></i>
    <%# end %>
  </div>
</div>
-->
