<% file = local_assigns[:file] || 'file.png' %>
<% existing = local_assigns[:existing] %>

<!-- TODO: swap presign-endpoint-value once we have a route -->
<div
  data-controller="multi-upload"
  data-multi-upload-input-name-value="<%= id %>"
  data-multi-upload-presign-endpoint-value="/attachments/upload/presign"
  data-multi-upload-permitted-file-types-value="<%= ['.doc', '.docx', '.xls', '.xlsx', '.pdf', '.ppt', '.pptx', '.jpg', '.jpeg', '.gif', '.png'].as_json %>"
  data-multi-upload-button-hint-value="<%= local_assigns[:button_hint] %>"
  data-multi-upload-button-icon-value="<%= local_assigns[:button_icon] %>"
  data-multi-upload-max-file-size-value="<%= local_assigns[:max_file_size] %>"
  class="file input form__input <%= local_assigns[:wrapper_classes] %> <%= 'field--errors' if local_assigns[:errors] %> <%= 'disabled' if local_assigns[:disabled] %>">

  <label for="<%= id %>" class="<%= 'required' if local_assigns[:required] %> <%= local_assigns[:label_classes] %>"><%= local_assigns[:label] %></label>

  <div class="form__inputs align-items--start">
    <div class="form__input <%= local_assigns[:uploader_classes] %>">
      <div class="uppy-input" data-multi-upload-target="uppyInput"></div>

      <% if local_assigns[:errors] %>
        <span class="form__hint form__hint--error"><%= errors %></span>
      <% elsif local_assigns[:hint] %>
        <span class="form__hint"><%= hint %></span>
      <% end %>

      <div data-multi-upload-target="progressContainer" class="mb--2 <%= 'display--none' unless local_assigns[:uploading] %>">
        <div class="progress mt--4">
          <div data-multi-upload-target="progressBar" class="progress-bar progress-bar--complete" style="width: 100%;"></div>
        </div>
      </div>

      <div class="uppy-Informer-errors"></div>
    </div>

    <div class="form__input <%= local_assigns[:previewer_classes] %>" id="<%= id %>" style="--cocoon-grouped-placeholder: 'No attachments uploaded">
      <% uploaded.times.each do |i| %>
        <%= render partial: local_assigns[:partial_saved_path] || 'templates/base/partials/inputs/cocoon_asset_fields', locals: { id: i + 1 } %>
      <% end %>
    </div>
  </div>

  <div class="display--none">
    <a
      href="#"
      class="add_fields"
      data-association-insertion-method="append"
      data-association-insertion-node="#<%= id %>"
      data-multi-upload-target="cocoonAddFields"
      data-association-insertion-template='<%= render partial: local_assigns[:partial_new_path] || 'templates/base/partials/inputs/cocoon_asset_fields' %>'>
      Add New
    </a>
  </div>
</div>
