<div class="input string form__input <%= local_assigns[:wrapper_classes] %> <%= 'field--errors' if local_assigns[:errors] %>" <%= tag.attributes(local_assigns[:wrapper_extra_attributes]) %>>
  <% if local_assigns[:label] %>
    <label class="string <%= 'required' if local_assigns[:required] %> <%= local_assigns[:label_classes] %>" for="<%= id %>"><%= label %></label>
  <% end %>
  <div class="input-field <%= "input-field--symbol #{icon_classes}" if local_assigns[:icon_classes] %>">
    <input class="string <%= local_assigns[:input_classes] %>" type="<%= local_assigns[:type] || 'text' %>" autocomplete="off" id="<%= id %>" aria-invalid="<%= local_assigns[:errors] %>" <%= :disabled if local_assigns[:disabled] %> placeholder="<%= local_assigns[:placeholder] %>" value="<%= local_assigns[:value] %>" <%= tag.attributes(local_assigns[:input_extra_attributes]) %>>
  </div>

  <% if local_assigns[:errors] %>
    <span class="form__hint form__hint--error"><%= errors %></span>
  <% elsif local_assigns[:hint] %>
    <span class="form__hint"><%= hint %></span>
  <% end %>
</div>
