<div class="input text form__input <%= local_assigns[:wrapper_classes] %> <%= 'field--errors' if local_assigns[:errors] %>" <%= tag.attributes(local_assigns[:wrapper_extra_attributes]) %>>
  <label class="text <%= 'required' if local_assigns[:required] %> <%= local_assigns[:label_classes] %>" for="<%= id %>"><%= local_assigns[:label] %></label>
  <div class="input-field">
    <textarea id="<%= id %>" aria-invalid="<%= local_assigns[:errors] %>" <%= :disabled if local_assigns[:disabled] %> value="<%= local_assigns[:value] %>" <%= tag.attributes(local_assigns[:input_extra_attributes]) %>></textarea>
  </div>

  <% if local_assigns[:errors] %>
    <span class="form__hint form__hint--error"><%= errors %></span>
  <% elsif local_assigns[:hint] %>
    <span class="form__hint"><%= hint %></span>
  <% end %>
</div>
