<tr>
  <td class="font--semibold">
    <div class="font--semibold"><%= account.name %></div>
    <div class="cell--stacked"><%= account.email %></div>
  </td>

  <td>
    <div class="display--flex">
      <div class="pill pill--<%= account.account_type %> pill--bordered -pill-size--1 text--truncate"><%= account.account_type_i18n %></div>
    </div>
  </td>

  <td class="hidden--md-down"><%= l(account.updated_at, format: :short) %></td>
  <td class="text--center cell--link">
    <%= link_to 'Edit', edit_account_path(account), class: 'link link--cell link--primary' %>
  </td>
</tr>
