<%= search_form_for @q, url: accounts_path do |f| %>
  <div class="search-and-filter mb--6" data-controller="filter datepicker" data-action="click@window->filter#closeOutside">
    <div class="search">
      <%= f.search_field :full_name_or_email_cont,
                         autocomplete: 'off',
                         placeholder: 'Search by name or email...',
                         class: 'search__input' %>

      <%= f.button :submit, class: 'button search__button' do %>
        <i class="fa-solid fa-search -font-size--1 mb--1px"></i>
      <% end %>
    </div>

    <div class="filters mt--4">
      <div class="filter">
        <div class="filter__name" data-action="click->filter#toggleFilterMenu">
          <span>Type</span><i class="ml--3 fa-solid fa-chevron-down"></i>
        </div>

        <div class="filter__form">
          <% Account.account_types_i18n.each do |key, value| %>
            <%= filter_check_box('account_type_in', Account.account_types[key], value) %>
          <% end %>
        </div>
      </div>

      <%= f.submit 'Apply', class: 'button filter__button' %>
    </div>
  </div>
<% end %>
