<%= simple_form_for(resource, as: resource_name, url: registrations_path, html: { class: 'page-sections' }) do |f| %>
  <div class="page-section">
    <div class="form-sidebar hidden--lg-down">
      <div class="form-sidebar__section">
        <div>
          <h4 class="page-sidebar__title">Change Password</h4>
          <p>Update your password and secure your account.</p>
          <p>Your password must be at least 8 characters.</p>
        </div>
      </div>
    </div>

    <div class="form-main">
      <div class="form-main__section">
        <div class="form__body">
          <div class="form__inputs">
            <%= f.input :current_password, label: 'Current Password', required: true, hint: 'Your current password is required to update your password', wrapper_html: { class: 'form__input--s2-m2-l6' }, icon_wrapper_html: { class: 'input-field--symbol fa-regular fa-key' } %>

            <%= f.input :password, label: 'New Password', required: true, hint: 'Your new password must be at least 8 characters', wrapper_html: { class: 'form__input--s2-m2-l6 form__input--new-line' }, icon_wrapper_html: { class: 'input-field--symbol fa-regular fa-lock' } %>
            <%= f.input :password_confirmation, label: 'New Password Confirmation', required: true, wrapper_html: { class: 'form__input--s2-m2-l6' }, icon_wrapper_html: { class: 'input-field--symbol fa-regular fa-lock' } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section page-section--actions">
    <div class="form__actions form__actions--section">
      <%= f.submit 'Update Password', class: 'button button--success' %>
    </div>
  </div>
<% end %>
